@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply border-r-[1px] border-gray-200 dark:border-gray-700 border-l-[1px] min-h-screen dark:bg-gray-700 bg-white;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}
:focus {
  outline: none !important;
}

[data-rsbs-overlay] {
  max-width: 480px !important;
  margin: 0 auto !important;
  z-index: 999 !important;
}

[data-rsbs-backdrop] {
  z-index: 99 !important;
}

.z-99999 {
  z-index: 99999 !important;
}
